# Ignore raw data and system clutter

datasets/
__pycache__/
*.pyc
.DS_store
*.zip
*.h5
*.log
*.env
*.yml
*.json
*.sh
.streamlit
outputs/logs/
docs/PROJECT_REPORT.md
wea-*.txt
sta-*.txt
S3PR.md


# --- Data (keep folder, ignore files) ---
datasets/**
!datasets/.gitkeep
!datasets/.README.md
# ---------------------------------------

__pycache__.py
